<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <main id="app">
        <h1 class="welcome-message" id="message">{{ mainmessage }}</h1>
        <ul>
            <li v-for="video in videodata">
            <img :src="'images/'+ video.kids_gallery" alt="">
            <div class="info" v-for="video in videodata">{{ video.Rating }}</div>
        </li>
    </ul>
    </main>
    <script src="js/main.js"></script>
</body>
</html>